@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* THE ABOVE CSS IS A RESET, NOT MADE BY THE STUDENT RAPHAEL VALDERRAMA TORRES*/
/* ------------------- */
/* THE CSS BELLOW IS FROM THE STUDENTE RAPHAEL VALDERRAMA TORRES*/

:root {
    --font-montserrat: 'Montserrat', sans-serif;
    --font-size: 0.8rem;
    --line-height: 1.2rem;
    --dark-blue: #0E1527;
    --blue: #2C3B5A;
    --yellow: #F2C778;
    --dark-yellow: #D9A86D;
    --black: #131313;

    /* color: azure; */
}

body {
    background: var(--dark-blue);
    height: 100%;
    width: 100%;
    font-size: var(--font-size);
    line-height: var(--line-height);
    font-family: var(--font-montserrat);
}

nav {
    font-size: 0.9rem;
}

.navbar {
    --bs-navbar-padding-y: 0.5rem;
}

.navbar-brand img {
    margin-left: 2rem;
    height: 1.5rem;
}

.nav-link {
    text-transform: uppercase;
    border-bottom: 2px solid transparent;
    transition: 0.3s;
}

.nav-link:hover {
    color: var(--dark-yellow);
}

.div-icons-nav {
    width: 100%;
    display: flex;
    justify-content: end;
    margin-right: 3rem;
}

.div-icons-nav img {
    height: 1rem;
    margin: 0 1rem;
}

.navbar-toggler-icon {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    vertical-align: middle;
    background-image: url(images/menu-hamburguer.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

.navbar-toggler {
    font-size: var(--bs-navbar-toggler-font-size);
    border: none;
    border-radius: none;
    transition: 0.5s;
}

main {
    margin: 0 auto;
    max-width: 1980px;
}

#carousel-sec {
    margin-top: 5%;
}

.carousel-item img {
    object-fit: cover;

}

.carousel-indicators [data-bs-target] {
    border-radius: 50%;
    width: 0.7rem;
    height: 0.7rem;
    margin-right: 3px;
    margin-left: 3px;
}

.carousel-indicators .active {
    opacity: 1;
    background-color: var(--blue);
    margin-top: auto;
    margin-bottom: auto;
}


#products-title {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 11rem;
    font-size: 2.5rem;
    font-weight: 500;
    margin: auto;
    color: azure;
}


section {
    height: 100%;
    width: 100%;
}

.wrapper {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto;

}

.card {
    border-radius: 0px;
    margin: 0 0.5rem;
    width: 15rem;
    min-height: 27rem;
    padding: 1%;
    margin-bottom: 4%;
}

.card div {
    /* margin: auto; */
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.card div a {
    margin: 0 0.2rem;
}

.card-text {
    margin: 5%;
}

.btn {
    border-radius: 0px;
    background-color: var(--yellow)!important;
    border: none;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.219);
    color: var(--black)!important;
    text-align: center;
    transition: 0.5s;
}

.btn:hover {
    background-color: var(--dark-yellow)!important;
    border: none;
    color: white!important;
}

.cart-btn-card {
    background-color: var(--yellow);
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    background-image: url(images/icon-cart.svg);
    background-size: 1rem;
    border: none;
    background-position: center;
    background-repeat: no-repeat;
}

.card img {
    object-fit: cover;
    object-position: top;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.219);
}

.modal-content {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 2%;
    margin-top: 10%;
    border-radius: 0px;
    border: none;
}

.div-img-modal {
    width: 40%;
}

.div-img-modal img {
    width: 100%;
    object-fit: cover;
}

.prod-and-price-modal {
    margin: 5% 0;
}

.prod-and-price-modal h1{
    margin: 3% 0;
    font-size: large;
}

.prod-and-price-modal h2{
    margin: 3% 0;
    font-size: larger;
    color: var(--blue);
}

.prod-and-price-modal h3{
    font-size: medium;
}

.div-detail-modal {
    width: 100%;
    text-align: justify;
    margin: 5% 0;
}

.div-img-details {
    width: 50%;
    margin-right: 5%;
}

.div-sizes-modal label {
    margin: 2% 5% 5% 0;
}

.div-btn-model {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
}

.div-img-icon-model {
    margin-top: 5%;
    height: 2rem;
    display: flex;
    justify-content: center;
}

.div-img-icon-model img {
    height: 1.1rem;
    margin-right: 1rem;
}

.btn-add-cart-modal {
    width: 18rem;
    height: 2rem;
    border: none;
}


/* SHOPPING CART */
.modal-content-cart {
    margin: 0px!important;
}
.modal-dialog-cart {
    height: 100%;
    position: relative;
    width: auto;
    pointer-events: none;
    margin: 0px 0px auto auto;
}

#shop-cart {
    height: 100vh;
    display: block;
    padding: 0px;
    overflow: hidden!important;
}

#cart-header {
    background-color: var(--blue);
    color: white;
    display: flex;
}

#cart-header button {
    width: 10%;
    background-color: transparent;
    border: none;
    background-image: url(images/back-arrow-white.svg);
    background-repeat: no-repeat;
    background-position: center;
}

#div-header-cart {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#div-header-cart img {
    margin-left: 20%;
    margin-right: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

/* CART */
#cart-body {
    margin: 1rem 0 1rem 1rem;
    font-size: 0.9rem;
    height: 100%;
    overflow-y: auto;
}

#cart-content {
    display: flex;
    height: fit-content;
    margin-right: 1rem;
}

#cart-content-text {
    width: 100%;
    margin-left: 1rem;
}

#cart-content-text p {
    text-align: justify;
    width: 85%;
    margin: 0.5rem 0;
    font-size: 0.7rem;
}

#txt-and-delbtn {
    display: flex;
    justify-content: space-between;
}

#cart-del-prod {
    background-image: url(images/icon-del-prod.svg);
    background-size: 1rem;
    background-position: center;
    width: 1.5rem;
    height: 1.5rem;
    border: none;
    background-color: transparent;
    background-repeat: no-repeat;
    align-self: flex-end;
}

#img-prod-cart {
    width: 7rem;
    height: fit-content;
}

#prod-price-cart {
    text-align: end;
}

.amount-prod-cart {
    height: 1.5rem;
    width: 2.5rem;
    border: 1px solid gray;
    border-radius: 5px;
}

#cart-footer {
    display: flex;
    align-items: center;
    height: fit-content;
    background-color: var(--blue);
    color: white;
    width: 100%;
    position: absolute;
    bottom:0;
}

#div-footer-cart {
    margin: 1rem 0px;
    width: 100%;
    display: block;
}

#div-price-cart {
    display: flex;
    justify-content: space-between;
    margin: 0rem 1rem 1rem 1rem;
}

#div-btn-cart {
    display: flex;
    justify-content: center;

}

#div-btn-cart button {
    height: 2.5rem;
    width: 70%;
}

footer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: white;
    height: 20vh;
}

footer div {
    margin: 3%;
}

@media (max-width: 991px) {
    .nav-link {
        margin: 1rem 1rem -1rem 2rem;
    }

    /* .div-icons-nav {
        visibility: hidden;
    } */

    .modal-content {
        margin-top: 15%;
    }
}

@media (max-width: 600px) {
    #carousel-sec {
        margin-top: 20%;
    }

    .carousel-indicators [data-bs-target] {
        width: 0.5rem;
        height: 0.5rem;
        margin-bottom: -15px;
    }

    .modal-content {
        margin-top: 20%;
    }

}